---
  import Layout from '../layouts/Layout.astro';
  import Blob from '../components/Blob.astro';
  import ExperienceList from '../components/ExperienceList';
---

<Layout title="Akash Eldo | Designer & Developer"
  description="Akash Eldo's programming experience building amazing web and mobile apps">
  <main class="max-w-3xl mx-auto p-3 overflow-x-visible">
    <section>
      <div class="flex relative justify-center flex-col mb-36">
        <h1 class="z-10 text-5xl text-gray-50 font-bold md:text-7xl">
          Experience
        </h1>
        <Blob className="-left-1/2 -top-72 md:-left-20 md:-top-60" height={450} variation="hero" />
      </div>
      <ExperienceList client:load />
    </section>
  </main>
</Layout>