---
  import Layout from '../layouts/Layout.astro';
  import Blob from '../components/Blob.astro';

  const chips = ['JavaScript', 'TypeScript', 'GraphQL', 'React.js', 'JavaScript', 'TypeScript', 'GraphQL', 'React.js'];
---

<Layout title="Akash Eldo | Designer & Developer">
  <main class="container p-3 overflow-x-hidden">
    <section>
      <div class="flex justify-center flex-col mb-36">
        <h1 class="z-10 text-5xl text-gray-50 font-bold m-1">
          Experience
        </h1>
        <Blob className="-left-1/4 rotate-90" height={300} />
      </div>
      <div class="flex flex-row gap-2 -mr-3 pr-3 overflow-x-auto">
        {chips.map(tag =>
        <div class="bg-gray-400 px-2 py-1 rounded-full text-sm text-gray-50">
          {tag}
        </div>)}
      </div>
    </section>
  </main>
</Layout>