---
	import Layout from '../layouts/Layout.astro';
	import Blob from '../components/Blob.astro';
	import Card from '../components/Card.astro';
---

<Layout title="Akash Eldo | Designer & Developer">
	<main class="bg-gray-700 container p-3">
		<section class="h-screen flex items-center justify-center flex-col">
			<div class="z-10">
				<h1 class="text-5xl text-gray-50 font-bold text-center m-1">
					Hi, I'm Akash
				</h1>
				<p class="text-gray-50 text-center">
					I design and develop amazing web and mobile apps
				</p>
			</div>
			<Blob height={500} />
		</section>
		<section class="flex flex-col pt-24">
			<div class="flex items-center justify-center flex-col">
				<h2 class="z-10 text-2xl text-gray-50 font-medium text-center">
					Work
				</h2>
				<Blob height={125} />
			</div>
			<div class="pt-20 flex flex-col gap-4">
				<Card title="Software Engineer" subtitle="Google • Aug. 22 - Present"
					content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lobortis mauris dui suspendisse nunc sed egestas feugiat. Sit mattis et vel egestas ut."
					tags={["JavaScript", "TypeScript" , "GraphQL" ]} />
				<Card title="Software Engineer" subtitle="Google • Aug. 22 - Present"
					content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lobortis mauris dui suspendisse nunc sed egestas feugiat. Sit mattis et vel egestas ut."
					tags={["JavaScript", "TypeScript" , "GraphQL" ]} />
				<Card title="Software Engineer" subtitle="Google • Aug. 22 - Present"
					content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lobortis mauris dui suspendisse nunc sed egestas feugiat. Sit mattis et vel egestas ut."
					tags={["JavaScript", "TypeScript" , "GraphQL" ]} />
			</div>
		</section>
	</main>
</Layout>