---
	import Layout from '../layouts/Layout.astro';
	import Blob from '../components/Blob.astro';
	import Card from '../components/Card.astro';
	import Section from '../layouts/Section.astro';
	import SocialButton from '../components/SocialButton.astro';
	import Heading from '../components/Heading.astro';
	import cards from '../cards';
---

<Layout title="Akash Eldo | Designer & Developer">
	<main class="bg-gray-700 container p-3">
		<section class="h-screen flex items-center justify-center flex-col">
			<div class="z-10">
				<h1 class="text-5xl text-gray-50 font-bold text-center m-1">
					Hi, I'm Akash
				</h1>
				<p class="text-gray-50 text-center">
					I design and develop amazing web and mobile apps
				</p>
			</div>
			<Blob height={500} />
		</section>
		<Section title="Work">
			{cards.work.map(c => <Card card={c} />)}
		</Section>
		<Section title="Projects">
			{cards.projects.map(c => <Card card={c} />)}
		</Section>
		<section class="flex flex-col py-48">
			<Heading>Contact</Heading>
			<div class="pt-20 mx-12 flex flex-row flex-wrap justify-center gap-4">
				<SocialButton href="#" icon="bi:github" />
				<SocialButton href="#" icon="bi:behance" />
				<SocialButton href="#" icon="ant-design:medium-outlined" />
				<SocialButton href="#" icon="brandico:linkedin" />
				<SocialButton href="#" icon="ant-design:mail-filled" />
			</div>
		</section>
	</main>
</Layout>