---
	import Layout from '../layouts/Layout.astro';
	import Blob from '../components/Blob.astro';
	import Card from '../components/Card';
	import Section from '../layouts/Section.astro';
	import SocialButton from '../components/SocialButton.astro';
	import Heading from '../components/Heading.astro';
	import cards from '../cards';
	import SeeAll from '../components/SeeAll.astro';

	const workCards = cards.filter(({ type }) => type === 'work').slice(0, 3);
	const projectCards = cards.filter(({ type }) => type === 'project').slice(0, 3);
---

<Layout title="Akash Eldo | Designer & Developer">
	<main class="bg-gray-700 container p-3 mx-auto">
		<section class="h-screen flex items-center justify-center flex-col">
			<div class="z-10">
				<h1 class="text-5xl text-gray-50 font-bold text-center m-1 md:text-7xl">
					Hi, I'm Akash
				</h1>
				<p class="text-gray-50 text-center md:text-xl">
					I design and develop amazing web and mobile apps
				</p>
			</div>
			<Blob height="75%" variation="hero" />
		</section>
		<Section title="Work History" variation={1}>
			{workCards.map(c =>
			<Card card={c} />)}
			<SeeAll />
		</Section>
		<Section title="Projects" variation={2}>
			{projectCards.map(c =>
			<Card card={c} />)}
			<SeeAll />
		</Section>
		<section class="flex flex-col py-48">
			<Heading variation={3}>Contact</Heading>
			<div class="pt-20 mx-12 flex flex-row flex-wrap justify-center gap-4">
				<SocialButton href="https://github.com/Ninjaman494" icon="bi:github" />
				<SocialButton href="https://www.behance.net/akasheldo" icon="bi:behance" />
				<SocialButton href="https://medium.com/@akasheldo" icon="ant-design:medium-outlined" />
				<SocialButton href="https://www.linkedin.com/in/akash-eldo-231910140/" icon="brandico:linkedin" />
				<SocialButton href="mailto:akasheldo@hotmail.com" icon="ant-design:mail-filled" />
			</div>
		</section>
	</main>
</Layout>