---
	import Layout from '../layouts/Layout.astro';
	import Blob from '../components/Blob.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-gray-700 container p-3">
		<section class="h-screen flex items-center justify-center flex-col">
			<div class="z-10">
				<h1 class="text-5xl text-gray-50 font-bold text-center m-1">
					Hi, I'm Akash
				</h1>
				<p class="text-gray-50 text-center">
					I design and develop amazing web and mobile apps
				</p>
			</div>
			<Blob height={1200} colors={["#818CF8", "#06B6D4" , "#EC4899" , "#10B981" ]} />
		</section>
	</main>
</Layout>

<style>
</style>