---
  import Blob from './Blob.astro'

---

<div class="flex items-center justify-center flex-col">
  <h2 class="z-10 text-2xl text-gray-50 font-medium text-center">
    <slot />
  </h2>
  <Blob height={125} />
</div>