---
  import { Icon } from 'astro-icon'
---

<a class="group mt-2 flex items-center gap-3 self-end text-lg font-medium text-gray-50" href="/experience">
  <div>See all</div>
  <div class="hover-animation border-2 rounded-full p-1 border-gray-500 group-hover:border-gray-300">
    <Icon class="text-gray-50 " name="akar-icons:arrow-right" width="24" height="24" />
  </div>
</a>