---
  import { Icon } from 'astro-icon'

  export interface Props {
    href: string;
    icon: string;
  }

  const { href, icon } = Astro.props as Props;
---

<a target="_blank" {href}
  class="hover-animation group bg-gray-500 rounded-full p-5 flex justify-center items-center hover:bg-gray-300">
  <Icon class="hover-animation text-gray-50 group-hover:text-gray-600" name={icon} width="28" height="28" />
</a>