---
  import '../styles.css';
  import 'animate.css';
  import { SEO } from "astro-seo";

  export interface Props {
    title: string;
    description: string;
  }

  const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900" rel="stylesheet" />
  <SEO {title} description={description} />
</head>

<body class="bg-gray-700">
  <slot />
</body>

</html>